@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply text-xs;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1.2px;
}

.shadow-custom {
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
}

h1 {
    @apply text-2xl;
}

h2 {
    @apply text-xl;
}

h3 {
    @apply text-lg;
}

h4 {
    @apply text-md;
}

h5 {
    @apply text-sm;
}

p {
    @apply text-xs;
}
